{
    "db": {
        "prod": {
            "mssql": {
                "database": "DATABASE",
                "options": {
                    "encrypt": false,
                    "tdsVersion": "7_1"
                },
                "password": "PASS",
                "server": "SERVER",
                "user": "USER"
            }
        },
        "test": {
            "mssql": {
                "database": "DATABASE",
                "password": "PASS",
                "server": "SERVER",
                "user": "USER"
            }
        }
    },
    "matrixrets": {
        "loginUrl": "https://matrixrets.heartlandmls.com/rets/login.ashx",
        "password": "PASS",
        "userAgent": "DOTCOM-RETS/1.0",
        "userAgentPassword": "123456",
        "username": "USER",
        "version": "RETS/1.8.5"
    },
    "photoDirectory": {
        "prod": "E:\\mls_images",
        "test": "C:\\mls_images"
    },
    "search": {
        "residential": {
            "complete": false,
            "count": 0,
            "days": 1,
            "getPhotos": true,
            "limit": 1,
            "offset": 0,
            "test": true,
            "type": "RESI"
        }
    }
}
